drupalphp55web:
  build: .
  ports:
    - "81:80"
    - "444:443"
  links:
   - drupalphp55db:database
drupalphp55db:
  image: mysql:5.6
  volumes_from:
    - mysql-drupal-php55
  environment:
    TERM: xterm
    MYSQL_ROOT_PASSWORD: password
    MYSQL_USER: user
    MYSQL_PASSWORD: password
    MYSQL_DATABASE: drupalphp55
